<form action="/auth/signup" method="POST">
  {{#if errorMessage}}
    <br />
    <p id="error-form">{{errorMessage}}</p>
    <br />
  {{/if}}
  <label>
    Name
    <input type="text" name="name" placeholder="Name" required />
  </label>
  <label>
    Email
    <input type="email" name="email" placeholder="email@mail.com" required />
  </label>
  <label>
    Password
    <input type="password" name="password" placeholder="********" required />
  </label>
  <button type="submit">Submit</button>
</form>