<section class="container-box">
    <div class="box search-bar">
        <h1> Find your next best friend near to you.</h1>
        <br>
        <br>
    <form class="flex-row" action="/pets?{{req.query}}" method="GET">
    <select name="type" required>
        <option value="dog" selected>Dog</option>
        <option value="cat">Cat</option>
    </select>
    <input type="text" name="city" placeholder="your city" required>
    <button type="submit">Search</button>
    </form>
    </div>
</section>