<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ProjectName</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <h1>ProjectName</h1>
      <nav>
        <ul>
          <li><a href="/pets"> PETS </a></li>
        </ul>
        <ul>
          {{#if session.user}}
            <li><a href="/pets/create"> NEW PET </a></li>
            <li><a href="/user/profile"> MY PROFILE </a></li>
            <li><a href="/auth/logout"> LOGOUT </a></li>
          {{else}}
            <li><a href="/auth/login"> LOGIN </a></li>
            <li><a href="/auth/signup"> SIGN UP </a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <br/>
    <hr/>
    <br/>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>