<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>PetSharing</title>
  <link rel="icon" type="image/png" href="/images/favicon.ico" sizes="32x32">
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  {{!-- HEADER --}}
  <header class="flex-row">
    <div class="flex-row">
      <a class="logo" href="/">PetSharing<img src="/images/petsharing-logo.png" alt="petsharin logo"></a>
      <li><a href="/pets">PETS</a></li>
    </div>
    <nav>
      <ul class="flex-row">
        {{#if session.user}}
        <li><a href="/pets/create"> NEW PET </a></li>
        <li><a href="/user/profile"> MY PROFILE </a></li>
        <li><a href="/auth/logout"> LOGOUT </a></li>
        {{else}}
        <li><a href="/auth/login"> LOGIN </a></li>
        <li><a href="/auth/signup"> SIGN UP </a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  <hr class="section-line">

  {{!-- CONTEINER --}}
  <section class="container">
    {{{body}}}
  </section>
  <footer>

    <script src="/js/script.js"></script>

    <section>
      <hr class="section-line">
      <div id="footer-about">
        <a href="/about">About</a>
      </div>

    </section>

  </footer>
</body>

</html>