
<section class="container-form" >
  <h1>Post a Pet</h1>
<form action="/pets/create" method="POST">

  <label>
    Name: <br>
    <input type="text" name="name" required />
    <br/>
  </label>

   <label for="type">Type: </label>
  <input type="radio" id="type" name="type" value="dog" />Dog
  <input type="radio" id="type" name="type" value="cat" />Cat
  <br />

  <label>
    Breed: <br>
    <input type="text" name="breed" required />
    <br/>
  </label>

  <label>
    City:  <br>
    <input type="text" name="city" required />
    <br />
  </label>


<label for="gender">Gender: </label>
  <input type="radio" id="gender" name="gender" value="male" />Male
  <input type="radio" id="gender" name="gender" value="female" />Female
  <br />

 
{{#each user}}
    <p> Owner: {{name}}</p>
{{/each}}

  <label>
    Favourite Food: <br>
    <input type="text" name="favouriteFood" required />
    <br/>
  </label>

  <label> Description: <br>
    <textarea name="description" cols="40" rows="4" minlength="10" maxlength="100"> </textarea>
  </label><br>
  <br>
  <div class="flex-row flex-end">
  <button class="crud-button" type="submit"> Create </button>
  </div>
</form>
</section>
<div class="search-bar">
    <div class="box-about"> 
        <a href="/pets">Back</a>
    </div>
</div>