<h1>Profile Page</h1>
<hr>
<br>
<h3>Account details</h3>
<form action="/user/edit/{{user._id}}" method="POST">
  <label> Name:
    <input type="text" name="name" value="{{user.name}}" />
  </label>

  <label> email:
    <input type="email" name="email" value="{{user.email}}" />
  </label>

  <label> Telephone:
    <input type="tel"  name="telephone" value="{{user.telephone}}" />
  </label>

  <button>Save changes</button>
</form>
