/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Fredoka+One&display=swap');

:root {
  --primary: rgb(0, 65, 102);
  --secondary: #ffa400;
  --tertiary: #009ffd;
  --quaternary: rgb(255, 234, 194);
  --quat-opacity: rgb(255, 234, 194, 0.7);
  --prim-opacity: rgb(0, 65, 102, 0.7);
}

html {
  font-size: 10px;
}

body {
  width: 80%;
  margin: auto;
  font: 1.7rem 'Baloo 2', sans-serif, "Lucida Grande", Helvetica, Arial;
  background-image: linear-gradient(to bottom, var(--quat-opacity), var(--prim-opacity));
}

a {
  color: var(--primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.message-positive {
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px;
}

.message-negative {
  width: fit-content;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px 15px;
  margin: auto;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.flex-column {
  display: flex;
  flex-flow: column;
  align-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.flex-center{
  justify-content: center;
}

/* HEADER */
header {
  padding: 20px 0;
  list-style: none;
  justify-content: space-between;
  background-color: var(--quat-opacity);
  position: fixed;
  width: 80%;
  border-bottom: 2px solid #000;
  z-index: 2;
}

.logo {
  display: flex;
  align-content: center;
  font-size: 3.3rem;
  margin-right: 70px;
  font-family: 'Fredoka One', sans-serif, "Lucida Grande", Helvetica, Arial;
  color: var(--primary);
}

.logo img {
  max-height: 4rem;
}

header a {
  text-decoration: none;
  margin: 0 40px;
}
header li {
  position: relative;
  top: 10;
  font-size: 2rem;
}

.section-line {
  height: 2px;
  margin: 0;
  padding: 0;
  background: #000;
  border: none;
}

/* CONTAINER */
.container {
  height: auto;
  margin-top: 80px;
}
.container > section{
  padding: 40px;
}

/* HOME PAGE */
.container-box {
  height: 100vh;
  display: flex;
  background-image: url("../images/backgrounds/background-1.jpg");
  background-size: cover;
}

.box {
  margin: auto;
  width: max-content;
  height: max-content;
  padding: 50px;
  background-color: var(--quat-opacity);
  color: var(--primary);
  border-radius: 20px;
}

.box input {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  margin-bottom: 20px;
  font-size: 1.7rem;
}

.box button {
  font-size: 1.7rem;
  padding: 1.4rem;
  background-color: var(--primary);
  color: var(--tertiary);
  border: 0;
  border-radius: 10px;
}

.box h1 {
  font-size: 3.5rem;
}

.box a {
  margin: 20px;
  color: #000;
}

.search-bar form {
  display: flex;
  justify-content: center;
}

.search-bar {
  justify-content: center;
}

.search-bar select,
.search-bar input,
.search-bar button,
.search-bar a {
  width: max-content;
  height: 5rem;
  padding: 0 20px;
  font-size: 2rem;
}

.search-bar input {
  width: 400px;
  font-size: 2rem;
}

.search-bar h1 {
  color: var(--primary);
}

/* PETS LIST PAGE */
.filter {
  text-align: center;
  margin: 50px 0;
}

.pets-list {
  width: 100%;
  justify-content: space-evenly;
}

.pet-card {
  width: 300px;
  padding: 20px;
  margin: 20px;
  border: 2px solid var(--primary);
  background-color: var(--quat-opacity);
}
.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.pet-card img {
  display: flex;
  max-width: 200px;
  margin: auto;
}

.pet-card .name {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.no-search-result {
  width: max-content;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px 15px;
}

/* PET DETAILS PAGE */
.pet-details {
  justify-content: center;
  align-items: center;
}

.pet-details div {
  margin: 50px 30px;
}

/* FOOTER */

footer,
.push {
  margin-bottom: 40px;
  
  flex-shrink: 0;
}

#footer-about {
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: var(--prim-opacity);
}
#footer-about a {
  color: #fff;
  z-index: 2;
}

/* About PAGE */
.img-team {
  width: 20rem;
  height: auto;
  border-radius: 50%;
  padding: 10px 10px;
  
}
.github-link {
  display: flex;
  margin-left: 0% !important;
  padding-left: 0% !important; 
}
.web-dev-team {
  justify-content: space-evenly;
}
.team-details {
  text-align: center;
}
.box-about {
  margin: auto;
  width: max-content;
  height: max-content;
  padding: 10px;
}

/* PROFILE PAGE */
.header-options h2 {
  margin-right: 20px;
}

.img-profile {
  width: 20rem;
  margin: 0 40px;
}

.account-section {
  margin-bottom: 40px;
}

.crud-button {
  margin-right: 10px;
  border-style: none;
  width: fit-content;
  height: 10px;
  padding: 15px;
  background-color: var(--primary);
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
}
.pet-profile {
  text-align: center;
}
.container-form{
  width: max-content;
  margin: auto;

}
.container-form h1 {
  text-align: center;
}
.container-form form {
  padding: 40px;
  background-color: var(--quat-opacity);
  border-radius: 20px;
}
.container-form input, .default-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.7rem;
}
.input-form {
  width: 400px;
}

