html {
  font-size: 10px;
}
body {
  width: 80%;
  margin: auto;
  font: 1.6rem "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #6a4791;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}
.flex-column {
  display: flex;
  flex-flow:column;
  align-content: center;
}
/* HEADER */
header {
  padding-top: 30px;
  list-style: none;
  justify-content:space-between;
}
.logo {
  font-size: 3rem;
  margin-right: 70px;
}
header a {
  text-decoration: none;
}
header nav ul li a {
  margin-left: 40px;  
}
.section-line {
  height: 5px;
  background: linear-gradient(135deg,#8964b4,#6a4791);
  margin: 20px 0;
}

/* CONTAINER */
.container {
  height: auto;
}

/* HOME PAGE */
.container-box {
  height: 100vh;
  display: flex;
  background-image: url("../images/backgrounds/background-1.jpg");
  background-size: cover;
}
.box{
  margin: auto;
  width: max-content;
  height: max-content;
  padding: 50px;
  background-color: rgba(155, 111, 166, 0.7);
  color: #fff;
  
}
.box input {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  margin-bottom: 20px;
  font-size: 1.7rem;
}
.box button {
  font-size: 1.7rem;
  padding: 1.4rem;
  background-color: #6a4791;
  color: #fff;
  border: 0;
}
.box h1 {
  font-size: 3.5rem;
}
.box a {
  margin: 20px;
  color: #000;
}
.search-bar form {
  display: flex;
  justify-content: center;
}
.search-bar{
  justify-content: center;
}
.search-bar select, .search-bar input, .search-bar button, .search-bar a {
width: max-content;
height: 5rem;
padding: 0 20px;
font-size: 2rem;

}
.search-bar input {
  width: 400px;
  font-size: 2rem;
}
.search-bar h1 {
  color: #fff;
}
/* PETS LIST PAGE */
.filter {
  margin: 50px 0;
}
.pets-list {
  width: 100%;
justify-content:space-evenly;
}
.pet-card {
  width: 300px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #6a4791;
}
.pet-card img {
  display: flex;
  max-width: 200px;
  margin: auto;
}
.pet-card .name {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
/* PET DETAILS PAGE */
.pet-details {
  justify-content:center;
  align-items: center;
}
.pet-details div {
  margin: 50px 30px;
}

/* FOOTER */
footer {
  margin-bottom: 40px;
}