html {
  font-size: 10px;
}
body {
  width: 80%;
  margin: auto;
  font: 1.6rem "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #6a4791;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

/* HEADER */
header {
  height: 100px;
  list-style: none;
  justify-content:space-between;
}
.logo {
  font-size: 3rem;
  margin-right: 70px;
}
header a {
  text-decoration: none;
}
header nav ul li a {
  margin-left: 40px;  
}
.section-line {
  height: 5px;
  background: linear-gradient(135deg,#8964b4,#6a4791);
}

/* CONTAINER */
.container {
  height: auto;
  margin: 40px 0;
}

/* HOME PAGE */
.home {
  height: 100vh;
  display: flex;
  background-image: url("../images/backgrounds/background-1.jpg");
  background-size: cover;
}
.box{
  margin: auto;
  width: max-content;
  height: max-content;
  padding: 50px;
  background-color: rgba(155, 111, 166, 0.4) ;
  
}
.box input {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  margin-bottom: 20px;
}
.box button {
  font-size: 1.7rem;
  padding: 1.4rem;
  background-color: #6a4791;
  color: #fff;
  border: 0;
}
.box h1 {
  font-size: 3.5rem;
}
.box a {
  margin: 20px;
  color: #fff;
}
