<div class="container">
    <section id="about-petsharing">
<h1>Pet Sharing</h1>


 <h2>What is Pet Sharing?</h2>

<p>
    Behind our website is a simple idea, sometimes you feel lonely or have no motivation about doing anything. <br> 
    We have the solution. The Petcompany brings you happiness, inspiration, and a whole lot more, <br>
    just go on our website register, contact an owner, and enjoy the time with your favorite pet.
</p>
</section>

<h2>Developer Team</h2>
<section id="about-team">
<div id="web-dev-team">
<h4>Oscar Gonzalez</h4>
<div>
    <img class="img-team" src="/images/Alexander Nerz.jpeg" alt="">
</div>
<a href="https://github.com/oscargonzalezdev">Github</a>


<h4>Alexander Nerz</h4>
<div class="team-details">
<img class="img-team" src="/images/Alexander Nerz.jpeg" alt="Alexander Nerz">
</div>
<a href="https://github.com/Alex-WD-22">Github</a> <br>
<br>

</div>
</div>
</section>
<a href="/">Back</a>
<a href="https://github.com/FreiburgDevTeam/crud-project">Github Repository</a>
