<section class="box">
    <section class="search-bar description-text">
        <h1>Pet Sharing</h1>
        <h3>What is Pet Sharing?</h3> <br>
        <p>
            Behind our website is a simple idea, sometimes you feel lonely or have no motivation about doing anything.
            <br>
            We have the solution. Pet Sharing brings you happiness, inspiration, and a whole lot more, <br>
            just go on our website register, contact an owner, and enjoy the time with your favorite pet. <br>

            <a class="github-link" href="https://github.com/FreiburgDevTeam/crud-project">Github Repository</a>
        </p>
    </section>

    <section class=" search-bar">

        <div class="flex-row web-dev-team search-bar">
            <div class="team-details">
                <img class="img-team" src="/images/oscar-gonzalez.jpg" alt="">
                <h4>Oscar Gonzalez</h4>
                <a href="https://github.com/oscargonzalezdev">Github</a>
            </div>


            <div class="team-details">
                <img class="img-team" src="/images/alexander-nerz.jpeg" alt="Alexander Nerz">
                <h4>Alexander Nerz</h4>
                <a href="https://github.com/Alex-WD-22">Github</a>
            </div>
        </div>
    </section>
</div>
<div class="search-bar">
    <div class="box-about">
        <a class="team-details" href="/">Back</a>
    </div>
</section>