<h1>Project PetCompany</h1>


 <h2>Idea</h2>
<div>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore facere assumenda sit eum quidem omnis ab quam, <br>
    laborum laboriosam doloremque iure non maxime culpa excepturi quia soluta cum autem commodi!
</p>
</div>

<h2>Oscar Gonzales</h2>

<a href="https://github.com/oscargonzalezdev">Github</a>


<h2>Alexander Nerz</h2>

<a href="https://github.com/Alex-WD-22">Github</a>