<div class="container">
<h1>Project PetCompany</h1>


 <h2>What is PetCompany</h2>

<p>
    Behind our website is a simple idea, sometimes you feel lonely or have no motivation about doing anything. <br> 
    We have the solution. The Petcompany brings you happiness, inspiration, and a whole lot more, <br>
    just go on our website register, contact an owner, and enjoy the time with your favorite pet.
</p>


<h2>Developer Team</h2>
<div id="web-dev-team">
<h4>Oscar Gonzalez</h4>

<a href="https://github.com/oscargonzalezdev">Github</a>


<h4>Alexander Nerz</h4>

<a href="https://github.com/Alex-WD-22">Github</a>
</div>
</div>